
/*!* Styles pour les labels des champs *!*/
/*label {*/
/*    display: block; !* Les labels prennent toute la largeur *!*/
/*    margin-bottom: 5px; !* Marge sous les labels *!*/
/*    font-weight: bold; !* Texte en gras pour les labels *!*/
/*}*/

/*!* Styles pour les champs de texte *!*/
/*input[type="text"], input[type="password"] {*/
/*    width: 100%; !* Largeur complète dans le conteneur *!*/
/*    padding: 8px; !* Espacement intérieur pour le texte *!*/
/*    margin-bottom: 20px; !* Marge sous chaque champ *!*/
/*    border: 1px solid #ccc; !* Bordure subtile *!*/
/*    border-radius: 4px; !* Coins légèrement arrondis pour les champs *!*/
/*}*/

/*!* Styles pour les boutons *!*/
/*input[type="submit"] {*/
/*    width: 100%; !* Largeur complète pour les boutons *!*/
/*    padding: 10px; !* Espacement intérieur pour les boutons *!*/
/*    background-color: #C0392B; !* Couleur de fond pour le bouton *!*/
/*    border: none; !* Pas de bordure pour le bouton *!*/
/*    color: white; !* Texte blanc *!*/
/*    font-weight: bold; !* Texte en gras *!*/
/*    border-radius: 4px; !* Coins arrondis pour le bouton *!*/
/*    cursor: pointer; !* Curseur de pointeur pour indiquer la cliquabilité *!*/
/*}*/

/*input[type="submit"]:hover {*/
/*    background-color: #A93226; !* Couleur plus sombre lors du survol *!*/
/*}*/

/*!* Style pour le lien de mot de passe oublié *!*/
/*a {*/
/*    color: #C0392B; !* Couleur de lien pour correspondre au bouton *!*/
/*    text-decoration: none; !* Pas de soulignement *!*/
/*    display: block; !* Bloc pour alignement central *!*/
/*    text-align: center; !* Texte centré *!*/
/*    margin-top: 10px; !* Marge au-dessus du lien *!*/
/*}*/



/*body {*/
/*    background-color: #f4cccc; !* Couleur de fond *!*/
/*    font-family: Arial, sans-serif;*/
/*    color: #444;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/


/*.content {*/
/*    margin-top: 80px; !* Ajuste la marge supérieure pour éviter que le contenu ne soit caché sous la barre *!*/
/*}*/


/*.form-container {*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    width: 400px;*/
/*}*/

/*.label {*/
/*    font-weight: bold;*/
/*    text-align: right;*/
/*    padding-right: 10px;*/
/*}*/

/*.value {*/
/*    text-align: left;*/
/*}*/


body {
    background-color: #f4cccc; /* Couleur de fond */
    font-family: Arial, sans-serif;
    color: #444;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Hauteur de la vue pour centrer parfaitement */
}

label {
    display: block; /* Les labels prennent toute la largeur */
    margin-bottom: 5px; /* Marge sous les labels */
    font-weight: bold; /* Texte en gras pour les labels */
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="time"], textarea {
    width: 100%; /* Largeur complète dans le conteneur */
    padding: 8px; /* Espacement intérieur pour le texte */
    margin-bottom: 20px; /* Marge sous chaque champ */
    border: 1px solid #ccc; /* Bordure subtile */
    border-radius: 4px; /* Coins légèrement arrondis pour les champs */
}

button, input[type="submit"] {
    width: 40%; /* Largeur complète pour les boutons */
    padding: 10px; /* Espacement intérieur pour les boutons */
    background-color: #e14c3d; /* Couleur de fond pour le bouton */
    border: none; /* Pas de bordure pour le bouton */
    color: white; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    border-radius: 5px; /* Coins arrondis pour le bouton */
    cursor: pointer; /* Curseur de pointeur pour indiquer la cliquabilité */
}

button:hover, input[type="submit"]:hover {
    background-color: #A93226; /* Couleur plus sombre lors du survol */
}

a {
    color: #C0392B; /* Couleur de lien pour correspondre au bouton */
    text-decoration: none; /* Pas de soulignement */
    display: block; /* Bloc pour alignement central */
    text-align: center; /* Texte centré */
    margin-top: 10px; /* Marge au-dessus du lien */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-label {
    text-align: left;
    margin-bottom: 10px;
    display: block;
}

.login-input {
    margin-bottom: 20px;
}

.login-button {
    margin-bottom: 10px;
    margin-right: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FADBD8;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-button {
    /* Add styles for navbar buttons if needed */
}

.logout-button {
    margin-left: auto;
}
